/* Document
   ===================================================================== */

/**
 * a. Correct the line height in all internet browsers
 * b. Prevent adjustments of font size after orientation changes in iOS.
 */

 html {
    line-height: 1.15; /* a */
    -webkit-text-size-adjust: 100%; /* b */
  }
  
  /* Sections
     ===================================================================== */
  
  /**
   * Remove the margin in all browsers.
   */
  
  body {
    margin: 0;
  }
  
  /**
   * Corrects the font size and margin on `h1` elements within `section` and
   * article contexts in Chrome, Firefox, and Safari.
   */
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  /* Grouping content
     ===================================================================== */
  
  /**
   * a. Add the correct box sizing in Firefox.
   * b. Show the overflow in Edge and IE.
   */
  
  hr {
    box-sizing: content-box; /* a */
    height: 0; /* a */
    overflow: visible; /* b */
  }
  
  /**
   * a. Correct the inheritance and scaling of font size in all browsers.
   * b. Correct the odd `em` font sizing in all browsers.
   */
  
  pre {
    font-family: monospace, monospace; /* a */
    font-size: 1em; /* b */
  }
  
  /* Text-level semantics
     ===================================================================== */
  
  /**
   * Remove the gray background on active links in IE 10.
   */
  
  a {
    background-color: transparent;
  }
  
  /**
   * a. Remove the bottom border in Chrome 57-
   * b. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
  
  abbr[title] {
    border-bottom: none; /* a */
    text-decoration: underline; /* b */
    text-decoration: underline dotted; /* b */
  }
  
  /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
  
  b,
  strong {
    font-weight: bolder;
  }
  
  /**
   * a. Correct the inheritance and scaling of font size in all browsers.
   * b. Correct the odd `em` font sizing in all browsers.
   */
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace; /* a */
    font-size: 1em; /* b */
  }
  
  /**
   * Add the correct font size in all browsers.
   */
  
  small {
    font-size: 80%;
  }
  
  /**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  /* Embedded content
     ===================================================================== */
  
  /**
   * Remove the border on images inside links in IE 10.
   */
  
  img {
    border-style: none;
  }
  
  /* Forms
     ===================================================================== */
  
  /**
   * a. Change the font styles in all browsers.
   */
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit; /* a */
    font-size: 100%; /* a */
    line-height: 1.15; /* a */
    
  }
  
  /**
   * Show the overflow in IE.
   * a. Show the overflow in Edge.
   */
  
  button,
  input { /* a */
    overflow: visible;
  }
  
  /**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * a. Remove the inheritance of text transform in Firefox.
   */
  
  button,
  select { /* a */
    text-transform: none;
  }
  
  /**
   * Correct the inability to style clickable types in iOS and Safari.
   */
  
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  /**
   * Remove the inner border and padding in Firefox.
   */
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  /**
   * Restore the focus styles unset by the previous rule.
   */
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  /**
   * Correct the padding in Firefox.
   */
  
  /* fieldset {
    padding: 0.35em 0.75em 0.625em;
  } */
  
  /**
   * a. Correct the text wrapping in Edge and IE.
   * b. Correct the color inheritance from `fieldset` elements in IE.
   * c. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
  
  legend {
    box-sizing: border-box; /* a */
    color: inherit; /* b */
    display: table; /* a */
    max-width: 100%; /* a */
    padding: 0; /* c */
    white-space: normal; /* a */
  }
  
  /**
   * Add the correct vertical alignment in Chrome and Firefox
   */
  
  progress {
    vertical-align: baseline;
  }
  
  /**
   * Remove the default vertical scrollbar in IE 10+.
   */
  
  textarea {
    overflow: auto;
  }
  
  /**
   * a. Add the correct box sizing in IE 10.
   * b. Remove the padding in IE 10.
   */
  
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box; /* a */
    padding: 0; /* b */
  }
  
  /**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  /**
   * a. Correct the odd appearance in Chrome and Safari.
   * b. Correct the outline style in Safari.
   */
  
  [type="search"] {
    -webkit-appearance: textfield; /* a */
    outline-offset: -2px; /* b */
  }
  
  /**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
  
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  /**
   * a. Correct the inability to style clickable types in iOS and Safari.
   * b. Change font properties to `inherit` in Safari.
   */
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* a */
    font: inherit; /* b */
  }
  
  /* Interactive
     ===================================================================== */
  
  /*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
  
  details {
    display: block;
  }
  
  /*
   * Add the correct display in all browsers.
   */
  
  summary {
    display: list-item;
  }
  
  /* Misc
     ===================================================================== */
  
  /**
   * Add the correct display in IE 10+.
   */
  
  template {
    display: none;
  }
  
  /**
   * Add the correct display in IE 10.
   */
  
  [hidden] {
    display: none;
  }