/* Overall Styling */

* {
    box-sizing: border-box;
}
body {
    font-family: 'Merriweather', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}
main {
    max-width: 900px;
    margin: 10px auto;
    padding: 10px 20px;
}

/* Header Styling */
header {
    height: 70px;
    width: 100%;
    background-color: rgb(63, 74, 82);
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    color: white;
}
h2 {
    margin-top: 40px;
    text-align: center;
}
#top-intro h2 {
    color: black;
    font-size: 18px;
    text-align: center;
}
#top-intro {
    color: rgb(188, 191, 194);
    font-size: 14px;
    text-align: center;
    padding: 5px 25px 30px 25px;
}
/* Line Break Styling */
#first-break {
    width: 100%;
    /* margin-left: auto; */
    /* margin-right: auto; */
    margin: 5px 1rem 0;
    border-bottom: 6px double #333;
}
#second-break {
    width: 100%;
    /* margin-left: auto; */
    /* margin-right: auto; */
    margin: 5px 1rem 0;
    height: 3px;
    background-color: black;

}
/* Form Styling */
form {
    margin: 5px 1rem 0;
}
#contact-fieldset input:focus,
#newsletter-fieldset input:focus,
select:focus,
textarea:focus {
    background-color: white;
    color: black;
}
fieldset {
    border: none;
    padding: 0;
    margin: 2rem 0;
}
#contact-fieldset {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#contact-fieldset input, select {
    height: 2.75rem;
}
#contact-fieldset label {
    display: block;
    margin: 1rem 0 .3rem;
}
#contact-fieldset input,
select,
textarea {
    height: 3.5rem;
    width: 100%;
    border: none;
    font-size: 1rem;
    padding: 5px 15px;
    margin-top: 5px;
    background-color: #e8e6e6;
    border-radius: 5px;
}
#contact-fieldset 
#zip {
    width: 50%;
}
legend {
    font-weight: 900;
    margin: 1rem 0;
    font-size: 1.5rem;
}
fieldset {
    border: none;
    padding: 0;
    margin: 2rem 0;
}
::placeholder {
    color: #bab8b8;
    font-style: italic;
    text-align: right;
    padding-right: 10px;
    font-family: 'Merriweather';
}
#state {
    color: #bab8b8;
    font-family: 'Merriweather';
}
#newsletter-fieldset {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
#newsletter-fieldset input {
    margin: .75rem .5rem 1.75rem .25rem;
}
#newletter-fieldset textarea {
    width: 100%;
    height: 10rem;
}
select {
    padding: 5px 15px;
}
#submit-button {
    background-color: #57b0a2;
    color: ghostwhite;
    padding: 1.5rem;
    border-radius: 6px;
    border: none;
    width: 100%;
    font-weight: 700;
    font-family: inherit;
    font-size: 20px;
    margin-top: 15px;
}
footer {
    text-align: center;
    padding: 2rem 0 5rem;
    color: rgb(188, 191, 194);
}
/* Media Queries - Devices >= 768px display */

@media screen and (min-width: 768px) {
    
    .flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #contact-fieldset input,
    select {
        width: 70%;
    }
    #topics {
        margin-top: 1rem;
    }
    #contact-fieldset label {
        margin: 1rem 0;
        padding: 5px 0;
    }
    #contact-fieldset #zip {
        width: 25%;
        margin-right: auto;
        margin-left: 7rem;
    }
}